= form_for [post, comment], remote: true do |f|
  .errors
  .form-group{ :class => (error_class(comment.errors[:body])) }
    = f.text_area :body, rows: 2, class: 'form-control', placeholder: "Enter your comment"
  .form-group
    = f.submit "Post comment", class: 'btn btn-success'
